@helper GetModal(string title, string tamanio)
{
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog">
        <div id="modal-dialog-id" class="modal-dialog @tamanio modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4 class="text-secondary text-uppercase mb-0">@title</h4>
                <div class="modal-body pb-5">
                </div>
            </div>
        </div>
    </div>
}