<div class="row">
    <div class="form-group col-12 col-sm-3">
        <label class="control-label">Fecha Inicio</label>
        <input class="form-control" name="desde" type="date" id="desde" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group col-12 col-sm-3">
        <label class="control-label">Fecha Final</label>
        <input class="form-control" name="hasta" type="date" id="hasta" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="col-12 col-sm-6">
        <a href="#" class="btn btn-primary btn-execute-transactional float-sm-right" onclick="pedido.searchByFilter()">
            <span class="fa fa-search">Buscar</span>
        </a>
    </div>
</div>